[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = false
name = "pypi"

[packages]
fastapi = "==0.61.1"
pydantic = {extras = ["dotenv"], version = "*"}
pymysql = "==1.0.2"
apscheduler = "==3.6.3"
ujson = "==4.0.1"
loguru = "==0.5.3"
uvicorn = "==0.13.3"
dateutils = "==0.6.12"
sqlalchemy = "1.4.20"
zerorpc = "*"

[dev-packages]
pdir2 = "*"

[requires]
python_version = "3.8"

[scripts]
rpc = "python rpc_server.py"
server = "uvicorn app.main:app --host 0.0.0.0 --port 8000"
dev = "uvicorn app.main:app --host 0.0.0.0 --reload"
